/*PRIMERA PARTE */
/*PRIMERA PARTE */
/*PRIMERA PARTE */
/*PRIMERA PARTE */

.scrolling {
  width: 100%;
  position: relative;
  background: url("../../img/pexels-seven11nash-380769.jpg") no-repeat center center;
  background-size: cover;
background-attachment: fixed;
}
.scrolling .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con transparencia */
  z-index: 1;
}
.scrolling .scrolling-contenedor {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  z-index: 2;
}

.scrolling .scrolling-contenedor .scrolling-contenedor_boton {
  width: 200px;
  margin: auto;
}
.scrolling .scrolling-contenedor .scrolling-contenedor_texto,.scrolling-contenedor_boton{
  animation: scaleUp 8s ease;
}
@-webkit-keyframes topAnimation {
  from {
    transform: translate(0rem, 0);
  }
  to {
    transform: translate(0rem, 3.5rem);
  }
}

@keyframes topAnimation {
  from {
    transform: translate(0rem, 0);
  }
  to {
    transform: translate(0rem, 3.5rem);
  }
}
@-webkit-keyframes bottomAnimation {
  from {
    transform: translate(-11.5rem, 0);
  }
  to {
    transform: translate(0rem, 0);
  }
}
@keyframes bottomAnimation {
  from {
    transform: translate(-11.5rem, 0);
  }
  to {
    transform: translate(0rem, 0);
  }
}
.scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  position: relative;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
.scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::after,
.scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::before {
  border: 0;
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
.scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::before {
  width: 45px;
  border: 0;
  background-color: #c92918;
  top: -0.75rem;
  left: 0.5rem;
  -webkit-animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    0.25s infinite alternate;
  animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s
    infinite alternate;
}
.scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::after {
  width: 45px;
  background-color: #e74c3c;
  top: 3rem;
  left: 13rem;
  -webkit-animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    0.5s infinite alternate;
  animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s
    infinite alternate;
}
.scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton:hover {
  color: white;
}
.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_boton
  .boton:hover::before,
.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_boton
  .boton:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  -webkit-animation: none;
  animation: none;
}
.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_boton
  .boton:hover::after {
  left: 0rem;
}
.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_boton
  .boton:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}

.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_texto
  .scrolling-contenedor_texto-titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_texto
  .scrolling-contenedor_texto-titulo
  h1 {
  color: #ffffff;
  font-family: "Averta Bold", Sans-serif;
  font-size: 7rem;
  font-weight: 600;
}

.scrolling .scrolling-contenedor .scrolling-contenedor_texto p {
  margin-top: 20px;
  text-align: start;
  font-size: 1.25rem;
  padding: 0 0 0 10px;
  color: #fff;
  padding-left: 50px;
}

.scrolling
  .scrolling-contenedor
  .scrolling-contenedor_texto
  .scrolling-contenedor_texto-titulo
  span {
  color: #d9d9d9;
  font-size: 2rem;
  font-weight: 600;
  margin-top: -30px;
}

/* Archivo: ProfileCard.css */
/* .profile-card {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  border-radius: 50%;
  background: radial-gradient(circle, #ff6d5f, #ffffff);

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
  background-image: url(https://code.com.gt/wp-content/uploads/2024/04/anonymous_a_3d_model_of_a_cyborg_ant_laying_upright_on_a_flat_s_3859f4bb-9545-4e60-abc8-56acfba10e3b.png);
}

.scrolling-contenedor_img .profile-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
} */

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: translateY(-100%);
    /* -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; */
  }
  to {
    opacity: 1;
    transform: translateY(0);
    /* -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; */
  }
}

/* @media (min-width: 1920px) {
  .scrolling .scrolling-contenedor {
    margin-top: 50px;
  }
} */
@media (max-width: 852px) {
  .scrolling {  height: 100vh;}
  .scrolling
    .scrolling-contenedor
    .scrolling-contenedor_texto
    .scrolling-contenedor_texto-titulo
    h1 {
    color: #fff;
  }
  .scrolling .scrolling-contenedor {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2fr 0.5fr;
  }
  .scrolling .scrolling-contenedor .scrolling-contenedor_texto {
    margin-top: 100px;
  }

  .scrolling .scrolling-contenedor .scrolling-contenedor_texto p {
    text-align: center;
    margin-top: 0;
    padding: 0px 50px;
  }
  .scrolling
    .scrolling-contenedor
    .scrolling-contenedor_texto
    .scrolling-contenedor_texto-titulo {
    text-align: center;
  }
  .scrolling .scrolling-contenedor .scrolling-contenedor_img {
    margin: 50px 0px;
  }
  .profile-card {
    width: 50%;
  }
  .scrolling .scrolling-contenedor .scrolling-contenedor_boton {
    margin: auto;
    width: auto;
  }
  .scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::before,
  .scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::after {
    width: 2rem;
  }
}

@media (max-width: 500px) {
  .scrolling .scrolling-contenedor {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .scrolling .scrolling-contenedor {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.2fr;
  }

  .profile-card {
    width: 85%;
  }

  .scrolling .scrolling-contenedor .scrolling-contenedor_texto p {
    padding: 0;
  }

  .scrolling .scrolling-contenedor .scrolling-contenedor_boton {
    margin: auto;
    width: auto;
  }

  .scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::before,
  .scrolling .scrolling-contenedor .scrolling-contenedor_boton .boton::after {
    width: 2.5rem;
  }
}

/*SEGUNDA PARTE */
/*SEGUNDA PARTE */
/*SEGUNDA PARTE */
/*SEGUNDA PARTE */


.scroll-container .text-container {
  width: 100%;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: white;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 60px;
  margin-top: 100px;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(
    -20px
  ); /* Cambia esta cantidad según el efecto deseado */
}

.scroll-container .text-container .text-container_texto {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 90px;
  background: url("../../img/pexels-thatguycraig000-1670035.jpg") no-repeat center center;
  background-size: cover;
  transition: transform 1s ease;
  border-radius: 50px;
}
/* .scroll-container .text-container .text-container_texto .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
 } */
.text-container .text-container_texto .container_texto-uno,.container_texto-dos {
  text-align: start;
  padding: 40px;

}
.text-container .text-container_texto .container_texto-uno h2 {
  font-size: 3.5rem;
}
.text-container .text-container_texto .container_texto-uno span {
  font-size: 4rem;
}

.text-container .container_texto-dos{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: url("../../img/x.jpg") no-repeat top -120px center;
  background-size: cover;
  background-attachment: fixed;
  transform: scale(1);
  transition: transform 1s ease;
  border-radius: 50px;
font-weight: bold;
} 
/* .text-container .container_texto-dos .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  border-radius: 50px;
 } */
.text-container .container_texto-dos:hover,
.text-container .text-container_texto:hover{
  cursor: pointer;
  transform: scale(1.03);
}



@media (max-width: 1024px) {
  .text-container .container_texto-dos{
    background-position: top center;
    font-size: 1rem;
  }
  .scrolling .scrolling-contenedor .scrolling-contenedor_texto p {
    margin-top: 20px;
    text-align: start;
    font-size: 1rem;
    padding: 0 0 0 10px;
    color: #fff;
    /* padding-left: 50px; */
  }

  .text-container .text-container_texto .container_texto-uno {
    text-align: start;
    padding-left: 50px;
    font-size: 1rem;
  }
}

@media (max-width: 852px){
  .scroll-container .text-container{
    grid-template-columns: 1fr;
  }
}


@media (max-width: 500px){
  .scroll-container .text-container{
    padding: 5px;
  }

  .text-container .text-container_texto .container_texto-uno h2 {
    font-size: 2.5rem;
  }
  .text-container .text-container_texto .container_texto-uno span {
    font-size: 2rem;
  }

  .text-container .container_texto-dos{
    background-position: top  center;
    font-size: .9rem;
  }
}



/*TERCERA PARTE */
/*TERCERA PARTE */
/*TERCERA PARTE */
/*TERCERA PARTE */

.contenedor_equipo{
  width: 100%;
  display: grid;
  grid-template-areas: "I I T T T";
  place-content: center;
  place-items: center;
  padding: 50px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;

}
.contenedor_equipo .contenedor_equipo-titulo-texto{
grid-area: T;
}
.contenedor_equipo .contenedor_equipo-img{
  grid-area: I;
}
.contenedor_equipo .contenedor_equipo-titulo,.contenedor_equipo-texto{
  color: #000;
  display: flex;
  flex-direction: column;
text-align: start;
gap: 20px;
  padding: 10px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.contenedor_equipo .contenedor_equipo-titulo h3{
  font-size: 4rem;
  color: #7c7a7a;
}
.contenedor_equipo .contenedor_equipo-img{
  width: 100%;
 
}

.contenedor_equipo .contenedor_equipo-img img{
  width: 100%;
  height: 500px;
  border-radius: 50% 50% 0 0; /* Crea el efecto de arco */
  object-fit: cover;
}

.visibleVER {
  opacity: 1;
  transform: translateY(0);
}

.hiddenVER {
  opacity: 0;
  transform: translateY(
    -20px
  ); /* Cambia esta cantidad según el efecto deseado */
}

@media (max-width: 1024px){
  .contenedor_equipo{
    grid-template-areas: "I I I T T";
  }
}

@media (max-width: 852px){
  .contenedor_equipo{
    grid-template-areas: "I"
                        "T";
  }
  .contenedor_equipo .contenedor_equipo-img img{
    border-radius: 50PX; /* Crea el efecto de arco */ 
  }
}

@media (max-width: 500px){
  .contenedor_equipo{
    padding: 0;
    margin-top: 50px;
  }
  .contenedor_equipo .contenedor_equipo-img img{
    display: block;
    margin: auto;
    width: 90%;
  }
  .contenedor_equipo .contenedor_equipo-titulo h3{
    font-size: 3.8rem;
  }
}