.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  min-height: 100vh;
    background: #3d0363;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
   transition: transform 0.5s ease-in-out;
  }
  
  .overlay-container.active {
    opacity: 1;
    z-index: 1000;
    position: absolute;

  }
  .overlay-container.none{
    position: relative;
    transition: opacity 1s ease-in-out;
display: none;
  }
  .overlay-transition {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .overlay-container.active .overlay-transition {
    transform: translateY(0);
  }
  